numpy
pandas
scipy
random2
matplotlib
seaborn
datetime
isort
pytest
coverage
pytest-cov
artifacts-keyring
build
keyring
setuptools
twine
numpydoc
sphinx
sphinx_rtd_theme
ipykernel
black
flake8
flake8-bugbear
flake8-builtins
flake8-colors
flake8-comprehensions
flake8-isort
isort
pep8-naming
check-manifest
