# Ignore these.
**.egg
.eggs/**
.eggs/
build/**
data/processed/**
docs/**
dist/**
logs/**
pbn/**
src/plastic_balanced_network.egg-info/
src/plastic_balanced_network/__pycache__/
tests/__pycache__
# But keep
!dist/.gitkeep